<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>
          I am an analytical certified Blockchain Developer with 5 years of
          experience, passionate about decentralizing the web via Web3 
          and liberating humanity through cryptocurrencies.
          I've written multiple production-grade applications in React, React
          Native, Redux, Redux Sagas, Node JS, Express, Hyperledger Fabric, PineScript, 
          Solidity, IPFS, C#, MySQL, PostgreSQL, Azure, and AWS. I have
          a strong work ethic and self-discipline with a persistent drive to solve problems
          with functioning and optimal solutions, and deliver software according to layed out deadlines.  
          I thrive in solitary and team environments alike. I have experience writing dAPP's, external adapters, external initiators,
          and smart contracts on blockchains such as Chainlink, QTUM, Steem, Hive, PeerPlays,
          Algorand, Ethereum, Blockstack, EOS.
        </p>
      </div>
      <div class="col-sm-6">
        <h3 style="margin-top: 0">Highlights</h3>
        <ul>
          <li>Lead software engineer on a <a href="https://chainlinklabs.com/">Chainlink</a> <---> <a href="https://qtum.org/en">QTUM</a> native integration 
          to bring off-chain data onto the QTUM blockchain via Chainlink oracles. 
          Developed an external initiator to subscribe to event logs emitted from the Oracle contract 
          which initiates a job run, an external adapter which fulfills the Chainlink job requests 
          and writes the off-chain data to an address on QTUM. Additionally, I created an automated
          deployment with containerized Docker images to simulate the data simulation from registration of
          the nodes and bridges on a local Chainlink service, to writing the encoded off-chain QTUM price data
          into a transaction and finally decoding the hexadecimal string. Check it out on my <a href="https://github.com/nolanjacobson/Chainlink-QTUM-Integration">github</a>.
          </li>
          <li>
            Full-stack development and DevOps for <a href="stadiumgrub.com">StadiumGrub's</a> mobile app,
            which is currently waiting for approval from the App store and will be available to the public within 
            the next few months. Used React Native on the front-end with a NodeJS/MySQL stack on the back-end, with
            the DevOps setting being hosted behind AWS, leveraging AWS RDS and AWS Elastic Beanstalk. I worked with and mentored
            one junior developer on this project.
          </li>
          <li>
            Developed TradingView strategies and indicators with PineScript for gaining market intelligence
            and backtesting aggregations of the indicators on previous time series data to find lucrative trading
            strategies for a client while working at <a href="https://blockspaces.io/">BlockSpaces</a>. Code for these indicators and strategies is confidential
            for intellectual property purposes.
          </li>
          <li>
            Spearheaded and lead development on two different mobile apps, two
            different web-apps, a back-end, and ran DevOps for a startup
            company, <a href="https://yourunicorn.io">YourUnicorn</a>.
          </li>
          <li>
            Voted to be 1 of 50 active witness nodes (peers) to validate blocks
            and transactions on DPoS blockchains such as STEEM, DECENT, Muse,
            PeerPlays, Scorum, Blurt.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
