<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>
          I am an analytical certified Blockchain Developer with 5+ years of
          experience, specializing in full-stack TDD (test-driven-development).
          I've written multiple production-level applications in React, React
          Native, Redux, Redux Sagas, Vue, Node JS, Express, Hyperledger Fabric,
          Solidity, ERC-20 tokens, IPFS, C#, MySQL, PostgreSQL, and AWS. I have
          a strong work ethic and self-discipline with a drive to solve problems
          and create innovative solutions. I deliver software in a timely
          manner. I have experience writing dAPP's (Decentralized Applications)
          and smart contracts on blockchains such as Steem, Hive, PeerPlays,
          Algorand, Ethereum, Blockstack, EOS, and ChainLink. Working as a lead
          developer in many Agile projects, I have gained the skills needed to
          work without any overhead and code in a structured matter.
        </p>
      </div>
      <div class="col-sm-6">
        <h3 style="margin-top: 0">Highlights</h3>
        <ul>
          <li>
            Spearheaded and lead development on two different mobile apps, two
            different web-apps, a back-end, and ran DevOps for a startup
            company, <a href="https://yourunicorn.io">YourUnicorn</a>.
          </li>
          <li>
            Cloned ZZZ/QQQ/Yearn.finance DeFi in the form of
            <a
              href="https://etherscan.io/address/0xfdbc6e0fe5bc7f59b2db75edf04c8b1c817f9107"
              >Bearn.finance</a
            >
          </li>

          <li>
            Voted to be 1 of 50 active witness nodes (peers) to validate blocks
            and transactions on DPoS blockchains such as STEEM, DECENT, Muse,
            PeerPlays, Scorum, Blurt.
          </li>

          <li>
            Created a decentralized, monetized, and distributed version of<a
              href="https://vine.co/"
            >
              Vine</a
            >
            called Moops as a dAPP on the Steem/Hive blockchain leveraging
            SteemConnect/HiveConnect SDK's, and IPFS.
          </li>
          <li>
            Forked IBM's HyperLedger Fabric Presedential Election Voting
            <a
              href="https://github.com/nolanjacobson/hyperledger-fabric-voting-solution/tree/master/evote"
              >dAPP</a
            >
            and created a HyperLedger Network/Smart Contracts with Docker,
            Kubernetes, and Node
          </li>
          <li>Consultant on a couple blockchain start-ups.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
