<section class="tout" id="interests">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Interests</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>My personal interests include:</p>
        <ul>
          <li>
            <b>MMA</b>. I love pushing my body and mind to it's limits, and
            train Jiu Jitsu/Muay Thai 3-7 times a week.
          </li>
          <li>
            <b>Decentralization</b>. Re-inventing the way we interact with
            technology in an innately positive way. Disrupting industries such
            as government, social media, supply chains, and finance.
          </li>
          <li>
            <b>Healthy Eating</b>. I am a huge proponent of treating your body
            like a temple and partake in intermittent fasting, high/clean
            quality foods, daily fasts, and acheiving peak performance through
            nutrition.
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h3 style="margin-top: 0">Recent Work Experience</h3>
        <ul>
          <li>
            Working at <a href="https://e2gens.com/">E2Gens</a> as a full-stack
            software developer. Building the Wizard for
            <a href="https://www.pitchpages.io/">PitchPages</a>, and a
            confidential web-app for the Institute of John Hopkins Medicine.
          </li>
          <li>
            Lead developer at
            <a href="https://nolimittechnology.com">No Limit Technology</a>
            where I lead the development on dating apps from
            mobile-web-backend-devops. Additionally, I System Administration for
            four different internal companies Wordpress applications.
          </li>
          <li>
            Independent Contractor at
            <a href="https://nurse2nursestaffing.com">Nurse2Nurse Staffing</a>
            where I built skills assessment full-stack applications in
            React/C#/ASP.NET/PostgreSQL. Check it out
            <a href="https://skills.nurse2nursestaffing.online">here</a> and
            <a
              href="https://github.com/nolanjacobson/skills-assessment-capstone"
              >here</a
            >
          </li>
        </ul>
        <h3>Other Things</h3>
        <ul>
          <li>
            I don't use social media, I have LinkedIn as a business exception.
          </li>
          <li>
            I am a big advocate of security/privacy/self-sovereignty. "Saying
            you don't care about privacy becuase you have nothing to hide is
            like saying you don't care about freedom of speech because you have
            nothing to say." - Edward Snowden
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
